@font-face {
  font-family: 'ELEGANT TYPEWRITER';
  src: url('../assets/typography/ELEGANTTYPEWRITER-Bold.woff2') format('woff2'),
  url('../assets/typography/ELEGANTTYPEWRITER-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}